html{
    font-size: 11px;
    box-sizing: border-box;
}
body{
    margin: 0;
    height:100vh;
    font-size:15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#root{
    height: 100%;
}
.grid-container{
display: grid;
grid-template-areas: 'header' 'main' 'footer';
grid-template-columns: 1fr;
grid-template-rows: 5rm 1fr 5rm;
height:134vh;
}
header{
    grid-area: header;
    background-color: gainsboro;
    height:75px;
    font-size: 18px;
}
main{
    grid-area: main;
    padding:1rm;
    margin-left: 50px;
    margin-right: 50px;
}
footer{
    grid-area: footer;
    background-color: black;
    color: white;
    height:30px;
    text-align: center;
}
a{
    text-decoration: none;
    font-size:18px;
}
h1{
    font-size:24px;
    padding: 1rem 0;
}
h2{
    font-size: 1.6rem;
    padding: 1rem 0;
}
a:hover{
    color:orange;
}
header a{
    color: black;
    padding: 1rem;
}


.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
img{
    border-radius: 0.8rem;
}
img.medium{
    max-width:20rem;    
    width: 100%;
}
.card{
    border: 0.1rem solid gray;
    background-color: ghostwhite;
    border-radius: 0.6rem;
    margin: 1rem;
}
.card-body{
    padding: 1rem;
}
.card-body > *{
    margin-bottom: 0.5rem;
}
.price{
    font-size: 15px;
}
.rating span{
    color: gold;
    margin: 0.1rem;
}